.node-red/flows.json
[
    {
        "id": "fce2812f.86741",
        "type": "tab",
        "label": "Timesheet",
        "disabled": false,
        "info": ""
    },
    {
        "id": "99c763b9.f26bf",
        "type": "http in",
        "z": "fce2812f.86741",
        "name": "GET timesheet",
        "url": "/timesheet",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "a5e0e37b.27c72"
            ]
        ]
    },
    {
        "id": "2a9ba1c3.66a8be",
        "type": "http response",
        "z": "fce2812f.86741",
        "name": "Success",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "a5e0e37b.27c72",
        "type": "template",
        "z": "fce2812f.86741",
        "name": "Timesheet JSON",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"timesheetRows\": [\n        {\n            \"id\": 5,\n            \"projectId\": 1,\n            \"activityId\": 1,\n            \"hoursPerDay\": {\n                \"monday\": \"8:00\",\n                \"tuesday\": \"8:00\",\n                \"wednesday\": \"8:00\",\n                \"thursday\": \"8:00\",\n                \"friday\": \"8:00\"\n            }\n        },\n        {\n            \"id\": 6,\n            \"projectId\": 2,\n            \"activityId\": 3,\n            \"hoursPerDay\": {\n                \"monday\": \"8:00\",\n                \"tuesday\": \"8:00\",\n                \"wednesday\": \"8:00\",\n                \"thursday\": \"8:00\",\n                \"friday\": \"8:00\"\n            }\n        }\n    ]\n}",
        "output": "json",
        "x": 450,
        "y": 160,
        "wires": [
            [
                "2a9ba1c3.66a8be"
            ]
        ]
    },
    {
        "id": "4761b86b.2569d8",
        "type": "http in",
        "z": "fce2812f.86741",
        "name": "GET activity",
        "url": "/timesheet/activity",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "8764c300.8ef11"
            ]
        ]
    },
    {
        "id": "400e5227.cc712c",
        "type": "http response",
        "z": "fce2812f.86741",
        "name": "Success",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 650,
        "y": 360,
        "wires": []
    },
    {
        "id": "8764c300.8ef11",
        "type": "template",
        "z": "fce2812f.86741",
        "name": "Activity JSON",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"activity\": [\n        {\n            \"id\": 1,\n            \"name\": \"Some activity\"\n        },\n        {\n            \"id\": 2,\n            \"name\": \"Some activity 1\"\n        },\n        {\n            \"id\": 3,\n            \"name\": \"Some activity 2\"\n        }\n    ]\n}",
        "output": "json",
        "x": 440,
        "y": 360,
        "wires": [
            [
                "400e5227.cc712c"
            ]
        ]
    },
    {
        "id": "3b06e333.2b3d1c",
        "type": "http in",
        "z": "fce2812f.86741",
        "name": "GET project",
        "url": "/timesheet/project",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 500,
        "wires": [
            [
                "e2064c4f.d0fcc"
            ]
        ]
    },
    {
        "id": "fed94c21.c79c9",
        "type": "http response",
        "z": "fce2812f.86741",
        "name": "Success",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 650,
        "y": 500,
        "wires": []
    },
    {
        "id": "e2064c4f.d0fcc",
        "type": "template",
        "z": "fce2812f.86741",
        "name": "Project JSON",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"project\": [\n        {\n            \"id\": 1,\n            \"name\": \"Some project\"\n        },\n        {\n            \"id\": 2,\n            \"name\": \"Some project 1\"\n        },\n        {\n            \"id\": 3,\n            \"name\": \"Some project 2\"\n        }\n    ]\n}",
        "output": "json",
        "x": 440,
        "y": 500,
        "wires": [
            [
                "fed94c21.c79c9"
            ]
        ]
    },
    {
        "id": "944139a1.9d98d8",
        "type": "http in",
        "z": "fce2812f.86741",
        "name": "DELETE timesheet",
        "url": "/timesheet",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "10d2f32e.b7becd"
            ]
        ]
    },
    {
        "id": "10d2f32e.b7becd",
        "type": "http response",
        "z": "fce2812f.86741",
        "name": "Success",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 650,
        "y": 260,
        "wires": []
    }
]